/* General styles */

body {
  font-size: 14px;
}

label {
  display: block;
}

.inline {
  display: inline;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}
.wrapper {
  width: 62%;
  margin: auto;
}
.float-right {
  float: right;
}

/* Button styles */

.btn {
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btn-success {
  background-color: #FC0590;
  margin: 20px;
}
.btn-primary {
  background-color: #F9A826;
  margin: 40px;
  position:fixed;
  right:15vw;
  bottom:0;
}

.btn-secondary {
  background-color: #797979;
  margin:20px;
}

.btn-special {
  background-color: #797979;
  margin:40px;
  position:fixed;
  left: 15vw;
  bottom:0;
}

.btn-success {
  position:fixed;
  right: 15vw;
  margin: 40px;
  bottom:0;
}

.btn-small {
  font-size: .5em;
}

/* Form text styles */

.form-control {
  font-size: 2em;
  border: none;
  border-bottom: 1px solid black;
}

.form-group {
  margin-top:3em;
  font-size: 2rem;
}

.form-control:active {
  border: none;
}

.event-entry {
  font-size: 1.5rem;
}
.event-entry .form-control {
  font-size: 1.5rem;
}

/* Radio button styles */

.inline-block {
  display: inline-block;
}

.purple-outline {
  width: 40%;
  height: 50vh;
  border: 5px solid #536DFE;
  border-radius: 10%;
  padding:10px;
  vertical-align: top;
}

.radioLabel img {
  width: 100%;
}

.toplabel {
  margin-bottom:17px;
}

input[type=radio] {
  display: none;
}
.radio-option::before {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #536DFE;
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
}
.radio-option {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 5px solid #555555;
  display: block;
  position: absolute;
  content: '';
  transition: border-color 0.25s;
  -webkit-transition: border-color 0.25s;
}

input[type=radio]:checked + .radio-option::before{
  opacity: 1;
}

input[type=radio]:checked + .radio-option {
  border-color: #536DFE;
}